#!/bin/bash
/usr/local/bin/rtail-server {% if package__rtail__package__udp_host != omit %}--udp-host={{ package__rtail__package__udp_host | string | quote }}{% endif %} {% if package__rtail__package__udp_port != omit %}--udp-port={{ package__rtail__package__udp_port | string | quote }}{% endif %} {% if package__rtail__package__web_host != omit %}--web-host={{ package__rtail__package__web_host | string | quote }}{% endif %} {% if package__rtail__package__web_port != omit %}--web-port={{ package__rtail__package__web_port | string | quote }}{% endif %} {% if package__rtail__package__web_version != omit %}--web-version={{ package__rtail__package__web_version | string | quote }}{% endif %}
