server {
    listen 80 default_server;

    {% include 'common/website_config_php_fpm_common.j2' %}

    access_log {{ fact_project.log_http_access }};
    error_log {{ fact_project.log_http_error }};
}
